<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <!-- #region CUSTOM CSS-->
    <link rel="stylesheet" href="./../Content/Css/style.css">
    <!-- #endregion -->
    <title>Формули.</title>
</head>

<body>
    <br>
    <br>
    <div class="container">
        <div class="card w-75 mx-auto">
            <h5 class="card-header text-center">Формули:</h5>
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="./../index.html">Съдържание</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Формули</li>
                    </ol>
                </nav>
                <h5 class="card-title">Косинусова теорема:</h5>
                <p class="card-text">Квадратът на коя да е страна в триъгълник е равен на сбора от квадратите на другите две страни минус удвоеното
                    произведение на тези две страни и косинуса на ъгъла, заключен между тях :
                    <img src="./../Content/Img/costheory.png" class="img-thumbnail float-center">
                </p>
                <h5 class="card-title">Синусова теорема:</h5>
                <p class="card-text">За всеки триъгълник отношението на коя да е страна и синуса на срещулежащия ъгъл е равно на диаметъра на
                    описаната около триъгълника окръжност.
                    <img src="./../Content/Img/sintheory.png" class="img-thumbnail float-center">
                </p>
                <h5 class="card-title">Хероновата формула:</h5>
                <p class="card-text">В геометрията Хероновата формула служи за намиране на лице на произволен триъгълник по дадени 3 негови страни.
                    В най-опростения си вид изглежда така: <br>
                    <img src="./../Content/Img/heronTheory.png" class="img-thumbnail float-center">
                </p>
            </div>
        </div>
        <footer class="container text-center">
            <p>&trade; Georgi Kalinkov</p>
        </footer>
    </div>
</body>

</html>