<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <!-- #region CUSTOM CSS-->
    <link rel="stylesheet" href="./../Content/Css/style.css">
    <!-- #endregion -->

    <!-- #region CUSTOM JS-->
    <script src="./../Content/suica.min.js"></script>
    <script>
        function Init() {
            suica = new Suica();
            orthographic(-10000, 10000); //размерност
            lookAt([0, 0, 100], [0, 0, 0], [0, 1, 0]); //точка на гледане

            // Създаване на мрежа            
            gridStyle = { color: [0.7, 0.7, 0.5] };
            for (var i = -300; i <= 300; i += 25) {
                segment([i, -200, -1], [i, 200, -1]).custom(gridStyle);
            }
            for (var i = -200; i <= 200; i += 25) {
                segment([-300, i, -1], [300, i, -1]).custom(gridStyle);
            }

            // Създаване на триъгълника
            A = sphere([-100, 0, 0], 5);
            B = sphere([95, -30, 0], 5);
            C = sphere([50, 85, 0], 5);

            triangleStyle = { color: [0.6, 0, 0] };
            AB = segment(A.center, B.center).custom(triangleStyle);
            BC = segment(B.center, C.center).custom(triangleStyle);
            CA = segment(C.center, A.center).custom(triangleStyle);

            circleO = circle([0, 0, 0], 100).custom({ mode: Suica.LINE });

            line(circleO.center, [(A.center[0] + B.center[0]) / 2, (A.center[1] + B.center[1]) / 2, 0]);
            line(circleO.center, [(B.center[0] + C.center[0]) / 2, (B.center[1] + C.center[1]) / 2, 0]);
            line(circleO.center, [(C.center[0] + A.center[0]) / 2, (C.center[1] + A.center[1]) / 2, 0]);

            //Позициониране на върховете
            setPeaks();

        }

        function setPeaks() {
            var el = document.getElementById('A');
            var position = A.getPosition();
            el.style.left = position[0] - 345 + "px";
            el.style.top = position[1] - 50 + "px";


            el = document.getElementById('B');
            position = B.getPosition();
            el.style.left = position[0] - 345 + "px";
            el.style.top = position[1] - 50 + "px";

            el = document.getElementById('C');
            position = C.getPosition();
            el.style.left = position[0] - 350 + "px";
            el.style.top = position[1] - 75 + "px";

            var el = document.getElementById('O');
            var position = circleO.getPosition();
            el.style.left = position[0] - 345 + "px";
            el.style.top = position[1] - 50 + "px";
        }


    </script>
    <!-- #endregion -->
    <title>Урок: Описана около триъгълник окръжност.</title>
</head>

<body onload="Init()">
    <br>
    <br>
    <div class="container">
        <div class="card w-75 mx-auto">
            <h5 class="card-header text-center">Урок: Описана около триъгълник окръжност:</h5>
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="./../index.html">Съдържание</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Урок 1</li>
                    </ol>
                </nav>
                <h5 class="card-title d-flex justify-content-center">
                    <canvas width="400" height="300">
                    </canvas>
                    <div id="A" class="peak">A</div>
                    <div id="B" class="peak">B</div>
                    <div id="C" class="peak">C</div>
                    <div id="O" class="peak">O</div>
                </h5>
                <p class="card-text">
                    <p>Описана около даден триъгълник окръжност наричаме окръжността с център пресечната точка на симетралите
                        на страните на триъгълника и радиус разстоянието от тази точка до кой да е от върховете му.</p>
                    <p>Обикновено радиусът на описаната окръжност се означава с главната латинска буква R.</p>
                    <p>Около всеки триъгълник може да се опише в окръжност.</p>
                    <p>Център на описана около триъгълник окръжност – Симетралите на трите страни на триъгълник се пресичат
                        в една точка – центъра О на описаната около триъгълника окръжност. В зависимост от вида на триъгълника
                        центърът на описаната около триъгълника окръжност (т. О) е на различно место: </p>
                        <li>Ако ΔABC е остроъгълен, т. О е вътрешна за триъгълника. </li>
                        <li> Ако ΔABC е правоъгълен, т. О е среда на хипотенузата АВ. </li>
                        <li> Ако ΔABC е тъпоъгълен, т. О е външна за триъгълника. </li>
                        <p></p>Права на Ойлер – За всеки
                        произволен триъгълник, ортоцентърът Н, медицентърът М и центърът О на описаната окръжност (пресечната
                        точка на симетралите на страните) лежат на една права, като НМ = 2МО. Формула на Ойлер (за намиране
                        на разстоянието между центровете на вписаната и описаната окръжност на триъгълник) – Ако с d отбележим
                        разстоянието между центровете на вписаната и описаната окръжност на триъгълник, с R – радиуса на
                        описаната окръжност, а с r – радиуса на вписаната окръжност, то:
                    <img src="./../Content/Img/radius.png" class="img-thumbnail">
                    като равенството се получава при равностранен триъгълник (защото тогава центровете на описаната и вписаната окръжност съвпадат).
                </p>
            </div>
        </div>
        <footer class="container text-center">
            <p>&trade; Georgi Kalinkov</p>
        </footer>
    </div>
</body>

</html>